* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  width: 100vw;
  height: 100vh;
  background-color: #cdd8fa;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#logo_container {
  width: 30%;
  min-width: 30%;
  /* height: 300px; */
  aspect-ratio: 1/1;
  background-color: #333333;
  display: flex;
  flex-wrap: wrap;
  padding: 5%;
  border-radius: 10px;
}
#left-elements {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
}
#right-elements {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.left {
  width: 30%;
  height: 33%;
  /* background-color: red; */
  /* border: 1px solid black; */
}
.right {
  width: 30%;
  height: 33%;
  /* background-color: orange; */
  /* border: 1px solid beige; */
}

#left-top {
  background-color: #f24e1e;
  width: 70%;
  border-radius: 50% 0 0 50%;
  border: none;
}
#left-middle {
  background-color: #a259ff;
  width: 70%;
  border-radius: 50% 0 0 50%;
  border: none;
}
#left-bottom {
  background-color: #0acf83;
  width: 70%;
  border-radius: 50% 0 50% 50%;
}
#right-top {
  width: 70%;
  background-color: #ff7262;
  border-radius: 0 50% 50% 0;
  /* border: none; */
}
#right-middle {
  width: 67%;
  background-color: #1abcfe;
  border-radius: 100%;
}
